@import '../../scss/vars.scss';

.track{
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px 20px 0 0;

    @media #{$phone} {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    &.visible{
        opacity: 1;
    }

    &.noData{
        background: #c50404;
        color: white;
        font-weight: bold;

        .label{
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }

        img{
            width: 100%;
            margin-top: 20px;
        }

        .sad{
            font-size: 90px;
            transform: rotate(90deg);
            width: 60px;
            height: 120px;
            margin: auto;
        }
    }

    .ribbon {
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: absolute;
        display: none;
        z-index: 2;

        &.hot{
            display: block;
            span{
                background-color: $red; 
            }
        }
        
        &.goodToDance{
            display: block;

            span {
                background-color: $green-highlight;
                border-color: darken($green-highlight, 40%);
            }

            &:before,
            &:after{
                border-color: darken($green-highlight, 20%)
            }
        }
      
        &:before,
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid darken($red, 10%)
        }
        span {
            position: absolute;
            display: block;
            width: 140px;
            padding: 3px 0;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
            font-family: 'Lobster', cursive;
            font-size: 14px;
            border-bottom: 2px solid #8e0303;
            
            -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.34);
            -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.34);
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.34);
        }    

        &.ribbon-top-left {
            top: -10px;
            left: -10px;
            &:before,
            &:after {
                border-top-color: transparent;
                border-left-color: transparent;
            }
            &:before {
                top: 0;
                right: 0;
            }
            &:after {
                bottom: 0;
                left: 0;
            }
            span {
                right: -17px;
                top: 22px;
                transform: rotate(-45deg);
            }
        }
    }
    .imageHolder{
        display: flex;
        align-items: center;
        padding: 20px 20px 0 20px;
        min-height: 180px;

        img{
            width: 180px;
            
            @media #{$phone} {
                width: 100%;
                border-radius: 15px 15px 0 0;
            }
        }
    }   

    .trackName{
        font-family: 'Fresca', sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
        max-height: 18px;
        display: block;
        text-align: center;
        color: white;
        width: 100%;
        background: #ffffff47;
        padding: 10px;
        margin-bottom: 20px;

        @media #{$phone} {
            max-width: 82%;
            max-width: calc(100% - 20px);
        }
    }

    .trackInfo{
        
        span{
            font-size: 16px;
            color: white;
            font-weight: bold;
        }

        @media #{$phone} {
            display: flex;
            justify-content: space-evenly;
        }
    }
}
