
html, body, #root{
  height:100%;
  width:100%;
}
#root{
  overflow: auto;
}
body {

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(9,9,121);
  background: -moz-linear-gradient(0deg, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
  background: linear-gradient(0deg, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090979",endColorstr="#00d4ff",GradientType=1);
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
